<!DOCTYPE html>

<html lang="es">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../Content/bootstrap-3.3.4/css/bootstrap.css" rel="stylesheet">
        <link href="../Content/CSS/main.css" rel="stylesheet">
        <title>Soccer Pool</title>
    </head>
    <header id="header">
       <br>
       <h1 class="white-text text-center"> Soccer Pool</h1>
       <br>
    </header>
    <body id="body">
     
    <div class="container">
        <h2 class="text-h2 text-center bg-success"> Register </h2>
		<hr>
        <div class="container">    
            <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-success">
                    <div class="panel-heading">
                            <div class="panel-signup text-center">Sign Up</div>
                        </div>  
                        <div class="panel-body" >
                            <form id="signupform" class="form-horizontal" action="" method="POST" name="frmregister" role="form" >
                                <div id="signupalert" style="display:none" class="alert alert-danger">
                                    <p>Error:</p>
                                    <span></span>
                                </div>
                                <div class="col-md-offset-2 col-m-12">
								    <div class="col-md-9"><br>
                                        <input type="text" class="form-control" name="firstname" placeholder="Login Name">
                                    </div>
                                </div>
                  
                                <div class="col-md-offset-2 col-m-12">
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" name="passwd" placeholder="Password">
                                    </div>
                                </div>
                                    
                                <div class="col-md-offset-2 col-m-12">
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" name="passwd" placeholder="Confirm Password">
                                    </div>
                                </div>
                               
                                <div class="form-group"> 
                                    <div class="col-md-offset-2 col-md-8"><hr>
                                        <button id="btn-signup" type="button" class="btn btn-success btn-block text-left"><img src="../content/images/soccer_ball2.png" width="20" height="20"></img> &nbsp Sign Up</button>
                                       
                                    </div>
                                </div>
                                
             
                                
                                
                            </form>
                         </div>
                    </div>

         </div> 
         	
	</div>		
    </body>
        <!-- Bootstrap js -->
        <script src="../Content/bootstrap-3.3.4/js/bootstrap.min.js" ></script>
        
    </html>