<!DOCTYPE html>

<html lang="es">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../Content/bootstrap-3.3.4/css/bootstrap.css" rel="stylesheet">
        <link href="../Content/CSS/main.css" rel="stylesheet">
        <title>Soccer Pool</title>
    </head>
    <header id="header">
       <br>
       <h1 class="white-text text-center"> Soccer Pool</h1>
       <br>
    </header>