#body {
	background-image: url("../images/soccer-field.jpg");
	overflow-x:hidden;
	background-attachment: fixed;
	background-position: left top;
		
}
#header{
    background-color: #000000;
    
}	
.text-h2{
    color: #000000;

}	
.white-text{
    color: #FFFFFF;

}	
.bg-black {
  background-color: #000000;
}
.panel-signup {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: #000000;
  
}

.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.info > p {
    color: #FFFFFF;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.info > ul {
    color: #FFFFFF;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.btn-custom{
    background-color: transparent;
    font-size:18px;
}

.navbar-blue{
    background-color: #92ea75;
    border-color: #8cf29d;
}

.navbar-green{
    background-color: #009900;
    border-color: #111111;
}

#sidebar-wrapper {
  top: 300px;
  left: -200px;
  width: 200px;
  background-color: rgba(11,11,11,0.5);
  color: white;
  position: fixed;
  height: 100%;
  z-index: 1;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 250px;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 50px;
}
.sidebar-nav li a {
  color: white;
  display: block;
  text-decoration: none;
}
.sidebar-nav li a:hover {
  background: rgba(255,255,50,0.25);
  color: white;
  text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}
#sidebar-wrapper.sidebar-toggle {
  transition: all 0.3s ease-out;
  margin-left: -200px;
}
@media (min-width: 768px) {
  #sidebar-wrapper.sidebar-toggle {
    transition: 0s;
    left: 200px;
  }
}


.panel-heading-landing {
    background: #00b33c !important; /*f7f7f7*/
    padding: 20px !important; 
    border-top-left-radius: 10px !important;  
    border-top-right-radius: 10px !important; 
    border: solid 2px #000000 !important; /*5CB85C*/ 
    border-bottom: none !important;
}
.panel-heading-landing-box {
    background: #ffFFDD !important;  /*5CB85C*/
    color: #000 !important; 
    font-size: 16px !important; 
    padding: 3px !important; 
    border: solid 2px #000000 !important; 
    border-top: none !important;
}
.panel-title-landing {
    color: #000000 !important; /*626367*/
    font-size: 17px;
    font-weight: bold;
}
.panel-body-landing {
    border: solid 3px #000 !important; 
    border-top: none !important; 
    border-bottom: none !important;
}
.panel-footer-landing {
    
    border: solid 2px #000 !important; 
    border-bottom-left-radius: 10px !important; 
    border-bottom-right-radius: 10px !important; 
    border-top: none !important;
}



