<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Soccer Pool</title>
  <link rel="stylesheet" href="bootstrap-3.3.6-dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Software Design and Architecture</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#about">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if authorized? %>
          <li class="dropdown navbar-">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pools <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/open">New pool</a></li>
              <li><a href="/close">Close pool</a></li>
              <li><a href="/results">Set results</a></li>
            </ul>
          </li>
          <% end %>
          <% if logged_in? %>
          <li><a href="/pick">Pick</a></li>
          <% end %>
          <li><a href="/scores">Scores</a></li>
          <% if logged_in? %>
          <li><a href="/logout">Logout</a></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <span class="main-title">Soccer Pool</span><span class="sub-title"><%= @viewTitle %></span>
    </div>
    <%= yield %>
  </div>

  <footer class="footer">
    <div class="container">
      <p class="text-muted">&copy; 2015 by Mauricio Cunillé & Daniela Ortiz. Built with <a href="http://www.sinatrarb.com">Sinatra</a>.</p>
    </div>
  </footer>
</body>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <%= yield_content :scripts %>
</html>