<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<div class="text-center container-transparent">
			<h2>Goal!</h2>
			<p>You found a broken link.</p>
			<center><img src="images/goal.jpeg" width="500" style="padding: 10px; margin: 10px;"></center>
		</div>
	</div>
</div>