<div class="container">
	<% if @error %>
	<div class="col-md-6 col-md-offset-3">
		<div class="text-center container-transparent">
			<div class="text-danger">
				<%= @error %>
			</div>
		</div>
	</div>
	<% end %>
	<% if !@scores %>
	<div class="col-md-6 col-md-offset-3">
		<div class="text-center container-transparent">
			<h2>It's lonely here!</h2>
			<p>It seems that there are no scores to report.</p>
			<p>Why don't you try <a href="/open">creating</a> a pool first?</p>
		</div>
	</div>
	<% else %>
	<div class="panel panel-default">
		<div class="panel-heading panel-heading-image">
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-bordered">
					<tr>
					<% @scores.first.each do |title| %>
						<th><%= title %></th>
					<% end %>
					</tr>
					<% @scores.drop(1).each do |score| %>
					<tr>
						<% score.each do |value| %>
						<td><%= value %></td>
						<% end %>
					</tr>
					<% end %>
				</table>
			</div>
		</div>
	</div>
	<% end %>
</div>
