<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<div class="text-center container-transparent">
			<h2>(Imagine whistle sound here)!</h2>
			<p>You shouldn't be here! If you think you should have access please <a href="mailto:A01164759@itesm.mx">contact</a> the webmaster.</p>
			<center><img src="images/red-card.jpg" width="500" style="padding: 10px; margin: 10px;"></center>
		</div>
	</div>
</div>